<template>
  <v-container>
    <v-layout row justify-space-between flex-wrap align-center>
      <v-flex md3
        ><Card-Analytics
          iconcolor="#46d7ed"
          circlebg="#d6f6fb"
          icon="mdi-currency-usd"
          title="Ingresos Totales"
          current="31,570"
      /></v-flex>
      <v-flex md3
        ><Card-Analytics
          iconcolor="#FB6D9D"
          circlebg="#FEE2EB"
          icon="mdi-cart-plus"
          title="Ventas de hoy"
          current="280"
      /></v-flex>
      <v-flex md3
        ><Card-Analytics
          iconcolor="#7064B7"
          circlebg="#E3E0F1"
          icon="mdi-home-analytics"
          title="Conversión "
          current="0.16%"
      /></v-flex>
      <v-flex md3
        ><Card-Analytics
          iconcolor="#5FBEAA"
          circlebg="#DFF2EE"
          icon="mdi-account-check"
          title="Proveedores "
          current="58"
      /></v-flex>
    </v-layout>
    <v-layout class="pt-5" row justify-space-between flex-wrap align-center>
      <v-flex md12>
        <v-card>
          <v-card-title>Estadisticas</v-card-title>
          <VueApexCharts
            height="350"
            type="area"
            :options="chartOptions"
            :series="series"
          ></VueApexCharts>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
<script>
// import apexchart from "apexcharts";
import VueApexCharts from "vue-apexcharts";
// import moment from "moment";

import CardAnalytics from "../../../components/dashboard/home/CardAnalytics.vue";

export default {
  name: "Home",
  components: {
    CardAnalytics,
    VueApexCharts,
  },
  data: () => ({
    chartOptions: {
      dataLabels: {
        enabled: true,
      },
      stroke: {
        curve: "smooth",
      },
      xaxis: {
        categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul"],
      },
      tooltip: {
        fixed: {
          enabled: true,
          position: "topRight",
        },
      },
    },
    series: [
      {
        name: "2019",
        data: [68, 55, 28, 51, 42, 25, 49],
      },
      // {
      //   name: "2020",
      //   data: [31, 40, 28, 51, 42, 109, 100],
      // },
      // {
      //   name: "2021",
      //   data: [11, 32, 45, 32, 34, 52, 41],
      // },
    ],
  }),
};
</script>