<template>
  <v-container
    ><v-layout row flex-wrap justify-center>
      <v-flex md6>
        <v-card class="d-flex flex-column align-center">
          <v-img
            width="100"
            height="100"
            class="rounded-circle my-5"
            src="../../../assets/avatar/hdjhaker.jpg"
            lazy-src="../../../assets/avatar/hdjhaker.jpg"
          ></v-img>
          <v-card-actions>
            <v-btn color="success" elevation="1" outlined rounded small
              >Subir Foto</v-btn
            >
            <v-btn color="info" elevation="1" outlined rounded small
              >Editar</v-btn
            >
          </v-card-actions>
          <v-divider inset></v-divider>
          <v-card-title class="text-uppercase"> Sobre mi </v-card-title>
          <v-card-text class="text-justify"
            >Encontrar una organización que me permita aplicar los conocimientos
            adquiridos en los años de estudio, así como mi capacidad de
            planificación, organización y dirección del funcionamiento de una
            empresa o compañías y afines. Formar parte de un equipo de trabajo y
            consolidarme profesionalmente en una empresa donde los logros
            personales y el desempeño sean reconocidos, además de permitir
            oportunidades de desarrollo personal y profesional.</v-card-text
          >
        </v-card>
      </v-flex></v-layout
    ></v-container
  >
</template>
<script>
export default {
  name: "Profile",
  data: () => ({
    //
  }),
};
</script>