<template>
  <v-card class="ma-2 pa-2 d-flex">
    <div
      :style="{ 'background-color': circlebg, border: '1px solid' + iconcolor }"
      class="rounded-circle circle-icon d-flex justify-center"
    >
      <v-icon :color="iconcolor">{{ icon }}</v-icon>
    </div>
    <v-spacer></v-spacer>
    <div class="d-flex flex-column justify-center">
      <div class="font-weight-black" style="color: #797979">{{ current }}</div>
      <div class="caption grey--text lighten-4--text">{{ title }}</div>
    </div>
  </v-card>
</template>
<script>
export default {
  name: "CardAnalytics",
  data: () => ({
    //
  }),
  props: {
    iconcolor: String,
    circlebg: String,
    icon: String,
    title: String,
    current: String,
  },
};
</script>
<style>
.circle-icon {
  height: 55px;
  width: 55px;
}
</style>