<template>
  <v-container fluid>
    <System-Bar title="IVICAR Auto Servicios - Escritorio" />
    <Navigation-Drawer :mini="mini" />
    <v-app-bar app color="primary" dark>
      <v-app-bar-nav-icon @click.stop="mini = !mini" class="btnkit" />
      <v-spacer></v-spacer>

      <v-btn icon>
        <v-badge
          :content="messages"
          :value="messages"
          color="secondary"
          overlap
        >
          <v-icon v-if="messages >= 1"> mdi-bell-ring </v-icon>
          <v-icon v-else> mdi-bell-off </v-icon>
        </v-badge>
      </v-btn>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon large v-bind="attrs" v-on="on">
            <v-tooltip bottom>
              <template #activator="{ on: onTooltip }">
                <v-avatar v-on="{ ...on, ...onTooltip }" size="40px" item>
                  <v-img
                    src="../../../assets/avatar/hdjhaker.jpg"
                    lazy-src="../../../assets/avatar/hdjhaker.jpg"
                    alt="avatar"
                  ></v-img
                ></v-avatar>
              </template>
              <span>Perfil</span>
            </v-tooltip>
          </v-btn>
        </template>

        <v-list>
          <v-list-item link to="/dashboard/profile">
            <v-list-item-content>
              <v-list-item-title>
                <v-icon small color="primary">mdi-account</v-icon> Perfil
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link to="/dashboard/profile">
            <v-list-item-content>
              <v-list-item-title>
                <v-icon small color="primary"> mdi-lock </v-icon> Bloquear
                Pantalla
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link>
            <v-list-item-title>
              <v-icon small color="primary"> mdi-close </v-icon> Cerrar Session
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-menu offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn icon large v-bind="attrs" v-on="on">
            <v-icon>mdi-translate </v-icon>
          </v-btn>
        </template>

        <v-list class="d-flex flex-column align-center">
          <v-subheader class="font-weight-black">Traductor</v-subheader>
          <v-list-item link @click="changeLanguageEs">
            <v-list-item-content>
              <v-list-item-title class="caption">
                <v-img
                  width="30"
                  height="30"
                  src="../../../assets/flag/es.png"
                  lazy-src="../../../assets/flag/es.png"
                  alt="DOP"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item link @click="changeLanguageEn">
            <v-list-item-content>
              <v-list-item-title class="caption">
                <v-img
                  width="30"
                  height="30"
                  src="../../../assets/flag/en.png"
                  lazy-src="../../../assets/flag/en.png"
                  alt="USA"
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-menu>
      <v-btn large icon class="pr-3">
        <v-icon
          @click.stop="$vuetify.theme.dark = !$vuetify.theme.dark"
          v-if="$vuetify.theme.dark"
          right
          dark
        >
          mdi-brightness-7
        </v-icon>
        <v-icon
          @click.stop="$vuetify.theme.dark = !$vuetify.theme.dark"
          v-else
          right
          dark
        >
          mdi-brightness-3
        </v-icon>
      </v-btn>
    </v-app-bar>

    <v-main class="scroll-y">
      <router-view></router-view>
    </v-main>

    <v-footer color=" primary while--text" dark app>
      <div>
        <div class="caption d-block">
          {{ $vuetify.lang.t("$vuetify.FOOTER.title") }}
        </div>
        <div class="d-block body-2">
          &copy; {{ new Date().getFullYear()
          }}{{ $vuetify.lang.t("$vuetify.FOOTER.copyright") }}
        </div>
      </div>
      <v-spacer></v-spacer>
      <span class="caption">{{
        $vuetify.lang.t("$vuetify.FOOTER.createBy")
      }}</span>
    </v-footer>
    <v-btn
      small
      v-scroll="onScroll"
      bottom
      color="primary"
      dark
      fab
      fixed
      right
      @click="toTop"
      class="clickable mb-10"
    >
      <v-icon>mdi-chevron-up</v-icon>
    </v-btn>
  </v-container>
</template>
<script>
import SystemBar from "./SystemBar";
import NavigationDrawer from "./NavigationDrawer";
export default {
  name: "Layout",

  components: { SystemBar, NavigationDrawer },

  data: () => ({
    mini: false,
    messages: 1,
  }),

  computed: {},
  methods: {
    themeDark() {
      this.$vuetify.theme.dark === false ? true : false;
    },
    changeLanguageEs() {
      if (this.$vuetify.lang.current != "es")
        return (this.$vuetify.lang.current = "es");
    },
    changeLanguageEn() {
      if (this.$vuetify.lang.current != "en")
        return (this.$vuetify.lang.current = "en");
    },
    onScroll(e) {
      if (typeof window === "undefined") return;
      const top = window.pageYOffset || e.target.scrollTop || 0;
      this.fab = top > 20;
    },
    toTop() {
      this.$vuetify.goTo(0);
    },
  },
};
</script>
<style>
.btnkit {
  -webkit-app-region: no-drag;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>