<template>
  <v-navigation-drawer
    v-model="drawer"
    :mini-variant.sync="mini"
    permanent
    color="primary"
    dark
    app
  >
    <v-list-item class="px-2 pt-1">
      <v-list-item-avatar>
        <v-img src="../../../assets/logo.png" alt="admin" class="mx-auto" />
      </v-list-item-avatar>
      <v-list-item-title class="ml-4 text-capitalize">IVICAR</v-list-item-title>
    </v-list-item>
    <v-list class="btnkit">
      <template v-for="item in items">
        <v-list-group
          active-class="primary white--text"
          v-if="item.children"
          :key="item.text"
          v-model="item.model"
          :prepend-icon="item['icon-ctr']"
          :append-icon="item.model ? item.icon : item['icon-alt']"
        >
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </template>
          <v-list-item
            active-class="primary white--text"
            v-for="(child, i) in item.children"
            :key="i"
            route
            :to="child.route"
          >
            <v-list-item-action v-if="child.icon">
              <v-icon>{{ child.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ child.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-group>
        <v-list-item v-else :key="item.text" route :to="item.route">
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>
              {{ item.text }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
export default {
  name: "NavigationDrawer",
  props: {
    mini: Boolean,
  },
  data: () => ({
    drawer: null,

    fab: false,

    items: [
      { icon: "mdi-home", text: "Escritorio", route: "/dashboard" },
      { icon: "mdi-account", text: "Usuarios", route: "/dashboard/users" },
      {
        icon: "mdi-account-multiple",
        text: "Clientes",
        route: "/dashboard/customers",
      },
      {
        icon: "mdi-account-check-outline",
        text: "Proveedores",
        route: "/dashboard/suppliers",
      },
      {
        icon: "mdi-chevron-up",
        "icon-alt": "mdi-chevron-down",
        "icon-ctr": "mdi-cart-arrow-right",
        text: "Productos",
        model: false,
        children: [
          {
            icon: "mdi-text-box-check-outline",
            text: "Productos",
            route: "/dashboard/products",
          },
        ],
      },
      // {
      //   icon: "mdi-chevron-up",
      //   "icon-alt": "mdi-chevron-down",
      //   "icon-ctr": "mdi-google-maps",
      //   text: "Tracking",
      //   model: false,
      //   children: [
      //     { icon: "mdi-tooltip-account", text: "Locate", route: "/locate" },
      //     { icon: "mdi-printer", text: "Print", route: "/print" },
      //   ],
      // },
      // { icon: "mdi-finance", text: "Revenue", route: "/revenue" },
      // { icon: "mdi-chart-pie", text: "Analytics", route: "/chart" },
      // { icon: "mdi-magnify", text: "Search", route: "/recherches" },
    ],
  }),
};
</script>