<template>
  <v-system-bar
    style="-webkit-app-region: drag"
    class="topprimary"
    window
    dark
    app
  >
    <span class="mr-1"
      ><v-img
        width="16"
        height="16"
        lazy-src="../../../assets/logo.png"
        src="../../../assets/logo.png"
      ></v-img
    ></span>
    <span> {{ title }}</span>

    <span class="mx-2">{{ time }}</span>
    <v-spacer></v-spacer>
    <v-btn
      @click="MinimizeWindows"
      class="btnkit d-flex align-center pl-2 mx-1"
      small
      tile
      icon
    >
      <v-icon>mdi-minus</v-icon>
    </v-btn>
    <v-btn
      @click="MaximizeWindows"
      class="btnkit d-flex align-center pl-2 mx-1"
      small
      tile
      icon
    >
      <v-icon>mdi-checkbox-blank-outline</v-icon>
    </v-btn>
    <v-btn
      @click="closeWindowsApp"
      class="btnkit d-flex align-center pl-2 mx-1"
      small
      tile
      icon
    >
      <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-system-bar>
</template>
<script>
import { ipcRenderer } from "electron";
window.ipcRenderer = ipcRenderer;
import moment from "moment";

export default {
  name: "SystemBar",
  props: {
    title: String,
  },
  data: () => ({
    interval: null,
    time: null,
  }),
  methods: {
    MinimizeWindows() {
      window.ipcRenderer.send("MinimizeWindows");
    },
    MaximizeWindows() {
      window.ipcRenderer.send("MaximizeWindows");
    },
    closeWindowsApp() {
      window.ipcRenderer.send("closeWindowsApp");
    },
  },
  beforeDestroy() {
    // prevent memory leak
    clearInterval(this.interval);
  },
  created() {
    // update the time every second
    this.interval = setInterval(() => {
      // Concise way to format time according to system locale.
      // In my case this returns "3:48:00 am"
      this.time = moment().format("h:mm:ss a");
    }, 1000);
  },
};
</script>