<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-toolbar-title>Verificar PIN</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-actions class="ma-5 d-flex flex-column">
      <v-form class="d-flex justify-center">
        <v-text-field label="Correo Electronico" solo dense></v-text-field>
        <v-btn color="primary btnkit">Check PIN</v-btn>
      </v-form>
      <v-card-text class="mt-2">
        <v-btn @click="goAuth" text color="white--text">
          <v-icon small>mdi-lock</v-icon>Volver
        </v-btn>
      </v-card-text>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: "ResetPassword",
  data: () => ({
    alert: true,
  }),
  methods: {
    goAuth() {
      this.alert = true;
      this.$router.push("/auth");
    },
  },
};
</script>