<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-toolbar-title>Restablecer Contraseña</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-actions class="ma-5 d-flex flex-column">
      <v-alert
        v-model="alert"
        dismissible
        dark
        close-text="Close Alert"
        width="80%"
        icon="mdi-information-variant"
        type="info"
      >
        Enter your <strong>Correo</strong> and instructions will be sent to
        you!</v-alert
      >
      <v-form class="d-flex justify-center">
        <v-text-field label="Correo Electronico" solo dense></v-text-field>
        <v-btn @click="sendEmail" color="primary btnkit">Reset</v-btn>
      </v-form>
      <v-card-text class="mt-2">
        <v-btn @click="goAuth" text color="white--text">
          <v-icon small>mdi-lock</v-icon>Volver
        </v-btn>
      </v-card-text>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: "ResetPassword",
  data: () => ({
    alert: true,
  }),
  methods: {
    goAuth() {
      this.alert = true;
      this.$router.push("/auth");
    },
    sendEmail() {
      this.$router.push("/auth/checkpin");
    },
  },
};
</script>