<template>
  <v-card>
    <v-toolbar dark color="primary">
      <v-toolbar-title>Iniciar Session</v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>
    <v-card-text>
      <v-form>
        <v-text-field
          dense
          prepend-icon="mdi-account"
          name="login"
          label="Nombre de Usuario"
          type="text"
        ></v-text-field>
        <v-text-field
          dense
          id="password"
          prepend-icon="mdi-lock"
          name="password"
          label="Contraseña"
          type="password"
        ></v-text-field>
      </v-form>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="goDashboard" block color="primary">Iniciar</v-btn>
    </v-card-actions>
    <v-card-text
      ><v-btn @click="goResetPassword" text color="white--text">
        <v-icon small>mdi-lock</v-icon>¿Olvidaste tu contraseña?
      </v-btn>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "SignIn",

  data: () => ({}),
  methods: {
    goResetPassword() {
      this.$router.push("/auth/resetpassword");
    },
    goDashboard() {
      this.$router.push("/dashboard");
    },
  },
};
</script>

