<template>
  <v-container fluid>
    <System-Bar title="IVICAR Auto Servicios - Escritorio" />
    <v-main>
      <v-container fluid fill-height class="fullheigth">
        <v-layout align-center justify-center row fill-height>
          <v-flex xs12 sm8 md4>
            <router-view></router-view>
          </v-flex>
        </v-layout>
      </v-container>
    </v-main>
  </v-container>
</template>
<script>
import SystemBar from "../../dashboard/layout/SystemBar";
export default {
  name: "AuthLayout",
  components: { SystemBar },
  data: () => ({
    //
  }),
};
</script>
<style>
.fullheigth {
  height: 100vh;
}
.btnkit {
  -webkit-app-region: no-drag;
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
</style>